---
import Icon from '../Shared/Icon.astro'

interface Props {
  sectionName: string
  iconPaths: string[]
}

const { sectionName, iconPaths } = Astro.props
---

<div class="flex flex-row items-start justify-between">
  <p class="mb-3 flex flex-row items-center gap-2 text-sm font-medium md:text-md">
    <Icon paths={iconPaths} />
    {sectionName}:
  </p>
  <p class="flex flex-wrap justify-end">
    <slot />
  </p>
</div>
