---
import Layout from '@layouts/Layout.astro'
import PageTitle from '@components/PageTitle/PageTitle.astro'
import WorkoutPreview from '@components/Workout/WorkoutPreview.astro'
import { getAllWorkouts } from '@services/workout'
import type { Workout } from '@interfaces/Workout'
// import { mockedWorkouts } from '@mocks/workouts'
const workouts = await getAllWorkouts()
console.log('ðŸš€ ~ workouts:', workouts)
// TODO: remove logs

---

<Layout title="Workouts for beasts">
  <!-- TODO: create component Workouts wrapping this -->
  <PageTitle title="ðŸ’ªðŸ¼ Workouts for Beasts" subtitle="Best workouts to be your best version" />
  <div class="flex flex-wrap justify-evenly">
    {workouts.map((workout: Workout) => <WorkoutPreview workout={workout} />)}
  </div>
</Layout>
