---
import Layout from '@layouts/Layout.astro'
import Title from '@components/Shared/Title.astro'
import WorkoutPreview from '@components/Workout/WorkoutPreview.astro'
import { getAllWorkouts } from '@services/workout'
import type { Workout } from '@interfaces/Workout'

const workouts = await getAllWorkouts()
---

<Layout title="Workouts for beasts">
  <Title title="ðŸ’ªðŸ¼ Workouts for Beasts" subtitle="Best workouts to be your best version" />
  <div class="flex flex-wrap justify-evenly">
    {workouts.map((workout: Workout) => <WorkoutPreview workout={workout} />)}
  </div>
</Layout>
